.icon-key:after {
  background-image: url("../images/icons/icons_sm/key_sm.svg");
}

.icon-briefcase:after {
  background-image: url("../images/icons/icons_sm//briefcase_sm.svg");
  background-size: 60%;
  margin: -2px 0 0 1px;
}