.icon-base:before, .icon-base:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 49%;
  top: -20px;


  @media (max-width: 1200px ) {
    left: 48%;
  }
  @media (max-width: 770px ) {
    left: 47%;
  }

}

.icon-base:before {
  background-color: $bG_col_offers_active;
  border-radius: 5px;
  transform: rotate(45deg);

}

.icon-base:after {
  border-radius: 5px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;
}